main {
  height: auto;
  box-sizing: border-box;
}

.magazine-cover {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
  "title title title"
  "feature-article feature-article cover-image"
  "small-article1 small-article2 cover-image";
}

.title {
  display: grid;
  grid-area: title;
  background-color: black;
}

.feature-article {
  display: grid;
  grid-area: feature-article;
  background-color: lightblue;
  min-width: 500px;
}

.small-article1 {
  display: grid;
  grid-area: small-article1;
  background-color: pink;
  
}

.small-article2 {
  display: grid;
  grid-area: small-article2;
  background-color: lightgreen;
}

.cover-image {
  display: grid;
  grid-area: cover-image;
  margin-bottom: 0;
}

h1 {
  color: white;
}

p {
  text-align: left;
  font-size: 1.2rem;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  .magazine-cover {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr 1fr;
    grid-template-areas: 
      "title title"
      "feature-article feature-article"
      "small-article1 small-article2"
      "cover-image cover-image"
      "cover-image cover-image";
  }
  .cover-image {
  max-width: 312px;
  margin: auto;
  }
}