main {
  height: auto;
  box-sizing: border-box;
}

.magazine-cover {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
  "title title title"
  "feature feature photo"
  "small-1 small-2 photo";
}

.title {
  grid-area: title;
  background-color: black;
}

#feature {
  grid-area: feature;
  background-color: lightblue;
  min-width: 500px;
}

#small-1 {
  grid-area: small-1;
  background-color: pink;
  
}

#small-2 {
  grid-area: small-2;
  background-color: lightgreen;
}

#photo {
  grid-area: photo;
  min-width: 280px;
  margin-bottom: -5px;
}

h1 {
  color: white;
}

p {
  text-align: left;
  font-size: 1.2rem;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  .magazine-cover {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "title title"
      "feature feature"
      "small-1 small-2"
      "photo photo"
      "photo photo";
  }
}